@import url('https://fonts.googleapis.com/css2?family=Delius&family=Handlee&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family: 'Delius', cursive;
  color: #ffffff;
}

body {
  background-color: #7cc6fe;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  animation: bg-color infinite 10s;
}

.app{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main-content-box {
  background-color: #252d4a;
  width: 450px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
}

.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
}

/* QUESTION/LEFT SECTION */
.question-section {
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
}


/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: #252d4a;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #234668;
  cursor: pointer;
}

.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}

button:hover {
  background-color: #555e7d;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}

@keyframes bg-color{
  0%{
    background:#55E6C1;
  }
  20%{
    background:#1B9CFC;
  }
  40%{
    background:#58B19F;
  }
  60%{
    background:#82589F;
  }
  80%{
    background:#6D214F;
  }
  100%{
    background:#9AECDB;
  }

}

.circle1{
    display:inline-block;
     width:120px;
    height:145px;
    background:rgb(134, 210, 121);
    border-radius:80%;
    position:relative;
    box-shadow:inset -10px -10px 0 rgba(0,0,0,0.07);
    margin:20px 30px;
    transition:transform 0.5s ease;
    z-index:10;
    animation:balloons 4s ease-in-out infinite;
    transform-origin:bottom center;
  
}

.circle1 h1, .circle2 h1{
  display: flex;
  height: 100px;
  width: 100%;
  align-items: center;
  justify-content: center;

 
}
.circle2{
  display:inline-block;
  width:120px;
 height:145px;
 background:rgb(210, 131, 121);
 border-radius:80%;
 position:relative;
 box-shadow:inset -10px -10px 0 rgba(0,0,0,0.07);
 margin:20px 30px;
 transition:transform 0.5s ease;
 z-index:10;
 animation:balloons 4s ease-in-out infinite;
 transform-origin:bottom center;
}

.circle1:before , .circle2:before{
  content:"▲";
  font-size:20px;
  color:hsl(215,30%,50%);
  display:block;
  text-align:center;
  width:100%;
  position:absolute;
  bottom:-12px;
  z-index:-100;
}

@keyframes balloons {
  0%,100%{ transform:translateY(0) rotate(-4deg); }
  50%{ transform:translateY(-25px) rotate(4deg); }
}

